@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
  
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.hide-scroll-bar {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.overflow-hidden {
  overflow-x: hidden; /* Hides horizontal scrollbar */
  overflow-y: hidden; /* Enables vertical scrollbar if needed */
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}